@model Client.Models.Book

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit bil f&#246;r @ViewBag.ShelfName</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ShelfId" />
            <div class="form-group">
                <label asp-for="CreationTime" class="control-label"></label>
                <input asp-for="CreationTime" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" disabled="disabled"/>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"  disabled="disabled"/>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="InShelf">
                        <input asp-for="InShelf" />
                        @Html.DisplayNameFor(m => m.InShelfNotInShelf)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <p>
        <a asp-action="Index" asp-route-id="@Model.ShelfId">Back to list</a>
    </p>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}